#full-size-image
{
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

video
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}


.tagline
{
	position: absolute;
	background-color: grey;
	opacity: 0.6;
	right: 30vw;
	top: 69vh;
	margin: 0 auto;
	font-size: 5em;
	color: white;
	padding: 2%;

}

@media only screen and (max-width: 1900px) {
    .tagline
    {
    	display: none;
    }

    #full-size-image
    {
    	height: 100vh;
    	width: 100vw;
    	position: relative;
    	display:block;

    }
}


@media only screen and (max-width: 1000px) {
    .tagline
    {
    	display: none;
    }

    #full-size-image
    {
    	padding: 0 !important;
    	height: 100vh;
    	background-image: url(../images/background.png);
    	background-size: cover;
    	position: relative;
    	object-fit: contain;
    	width: 100%;
    }

    #full-size-image img
    {
    	width: 100% !important;
    }

     #full-size-image video
    {
    	display: none;
    }

    .sub-container
	{
	width: 100% !important;
	font-size:2em !important;
		line-height: 2.5vh;
	}

	body
	{
		font-size:1vh !important;
		line-height: 2.5vh;
	}

	h1
	{
		line-height: 3.5vh;
	}
	.personalise-text
	{
		width: 100% !important;
		font-size:1.8em !important;
		line-height: 2.5vh;
		padding: 0 !important;
	}

	.personalise-text2
	{
		width: 100% !important;
		font-size:1.8em !important;
		line-height: 2.5vh;
		padding: 0 !important;
	}

	.pesonalise-container
	{
		padding: 0 !important;
	}

	.oil
	{
		width:  100% !important;
		padding: 0 !important;
	}

	div
	{
		padding: 5% !important;
	}

	.crouton
	{
		width:  100% !important;
		padding: 0 !important;
		
	}

	.sub-container
	{
		padding: 0 !important;
		margin: 0 !important;
	}
}


.nav-bar-horizontal
{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: sticky;
	width: 100%;
}

.nav-bar-horizontal li
{
	float: left;
	display:block;
	text-align: center;
	text-decoration: none;
	padding: 2.5% 1%;
}

#special
{
	padding: 1% 0%;
}

#special2
{
	margin-left: 12%;
}

.logo img
{
	width: 70%;
}

#language1
{
	color: grey;
	padding-right: 0;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.5% 2%;
}
#language2
{
	
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	padding: 0;
	color:grey;
	padding: 0.5% 2%;
}

.selected
{
	border: 1px solid grey;
}

hr
{
		height: 1px;
		border: 0;
		color: grey;
		background-color: grey;
		width: 100%;
		margin-bottom: 5%;
		opacity: 0.2;
	
}

.line
{
	width: 50%;
}

.veg

{
	padding:1%;
}

.veg img
{
width: 100%;
background-repeat: no-repeat;
object-fit: contain;
}

.spoon img
{
float: left;
}

.container2
{
	padding-left: 2%;
	padding-right: 2%;
}
.sub-container
{
display: inline-block;
min-width: 200px;
width: 25%;
padding: 0;
margin: 3%;
text-align: center;
}

.sub-container img
{
width: 75%;
}

.personalise
{
	display: block;
}

.pesonalise-container
{
	padding: 0;
	display: block;
	width: 100%;
}


.personalise-text
{
	width: 50%;
	display: block;
	padding: 0;
	height: 100%;
	float: left;
}

.personalise-text2
{
	width: 40%;
	display: inline-block;
	padding: 0;
	height: 100%;
	position: relative;
	right: 1vw;	
}

.oil
{
	width:  50%;
	display: inline-block;
	padding: 0;
	margin: 0;

}

.oil img
{
	text-align: center;
	width: 60%;
	padding-left: 20%;
	display: block;
}

.crouton
{
	width:  51%;
	display: inline-block;
	padding: 0;
	margin: 0;
	object-fit: contain;
	background-size: contain;
	position: relative;
	left: 10px;
}

.crouton img
{
	width: 100%;
	display:inline-block;
}

.black
{
	background-color: #231f20;
}

header
{
	color: white;
	width: 100%;
}

.list li
{
	padding-bottom: 5%;
	color: grey;
}

body
{
	margin: 0 auto;
	width: 100%;
	font-family: 'Delius', cursive;
	background-color: white;
	display: block;
	line-height: 25px;
}


div
{
	padding:5% 20% 0% 20%;
}

button
{
	position: fixed;
	color: grey;
	background: none;
	right: 0.5vw;
	bottom: 1vh;
	border: none;
	font-size: 3em;
	padding: 0;
	margin: 0;

}

li a
{
	color: white;
	text-decoration: none;

}
h1
{
	text-align: center;
	font-size: 3em;
	font-weight: normal;
}
p
{
	margin: 0;

}

footer
{
	display: block;
	font-size: 15px;
	color: grey;
	width: 100%;
	text-align: center;

}

.footer
{
	padding: 0 !important;
	width: 100%;
	display: block;
}

footer p
{
	padding: 0.5%;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #231f20; 
    border-radius: 5px;
}