#full-size-image
{
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tagline
{
	position: absolute;
	background-color: grey;
	opacity: 0.6;
	right: 31vw;
	top: 68vh;
	margin: 0 auto;
	font-size: 6em;
	color: white;
	padding: 2%;

}

.nav-bar-horizontal
{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: sticky;
}

.nav-bar-horizontal li
{
	float: left;
	display:block;
	text-align: center;
	text-decoration: none;
	padding: 2.5% 1%;
}

#special
{
	padding: 1% 0%;
}

#special2
{
	margin-left: 12%;
}

.logo img
{
	width: 70%;
}

#language1
{
	color: grey;
	padding-right: 0;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.5% 2%;
}
#language2
{
	
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	padding: 0;
	color:grey;
	padding: 0.5% 2%;
}

.selected
{
	border: 1px solid grey;
}

hr
{
		height: 1px;
		border: 0;
		color: grey;
		background-color: grey;
		width: 100%;
		margin-bottom: 5%;
		opacity: 0.2;
	
}

.line
{
	width: 50%;
}

.veg

{
	padding:1%;
}
.veg img
{
width: 100%;
background-repeat: no-repeat;
object-fit: contain;
}

.spoon img
{
float: left;
}

.sub-container
{
display: inline-block;
min-width: 300px;
width: 30%;
margin: 1.5%;
padding: 0;
text-align: center;
}

.personalise
{
	display: block;
}
.personalise-text
{
	width: 45%;
	display: inline-block;
	padding: 0;
	height: 100%;
}

.personalise-text2
{
	width: 45%;
	display: inline-block;
	padding: 0;
	height: 100%;
	float: right;
}
.oil
{
	width:  45%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.oil img
{
	float: right;
}

.crouton
{
	width:  45%;
	display: inline-block;
	padding: 0;
	margin: 0;
	object-fit: contain;
	background-size: contain;
}

.black
{
	background-color: #231f20;
}

footer
{
	color: grey;
}

header
{
	padding-top: 3.5%;
	color: white;
	width: 100%;
}

.list li
{
	padding-bottom: 5%;
	color: grey;
}

body
{
	margin: 0 auto;
	width: 100%;
	font-family: 'Delius', cursive;
	background-color: white;
	display: block;
	line-height: 25px;
}

video
{
	width: 100%;
	padding: 0;
	margin: 0;
}

div
{
	padding-top: 5%;
	padding-left: 15%;
	padding-right: 15%;
}

button
{
	position: fixed;
	color: grey;
	background: none;
	right: 0.5vw;
	bottom: 1vh;
	border: none;
	font-size: 3em;
	padding: 0;
	margin: 0;

}

li a
{
	color: white;
	text-decoration: none;

}
h1
{
	text-align: center;
	font-size: 3em
}
p
{
	margin: 0;

}

footer
{
	padding: 4% 0% 4% 20%;
	margin-top: 5%;
	font-size: 15px;
	width: 100%;
}

footer p
{
	padding: 0.5%;
}